.home__input {
  .van-field__control {
    height: 80px !important;
  }
}
.classification__right__van {
  .van-ellipsis {
    font-size: 30px !important;
    line-height: 40px !important;
  }
}
.detail__van__goods__action {
  .van-goods-action-icon__icon {
   font-size: 60px !important;
  }
  .van-button {
    font-size: 40px !important;
  }
  .van-goods-action-icon {
    width: 15vw;
  }
  display: flex;
  align-items: center;
}
.detail__shop__comment {
  .van-ellipsis {
    font-size: 30px;
  }
  .van-tabs__wrap {
    z-index: 0 !important;
  }
}
.edit__address__second {
  width: 100vw !important;
  .van-button {
    height: 80px !important;
  }
  .van-button--normal {
    font-size: 30px !important;
  }
  .van-cell {
    line-height: 50px !important;
    font-size: 30px !important;
    width: 100vw !important;
  }
  .van-field__label {
    width: 18vw !important;
  }
  .van-field__control {
    height: 50px !important;
  }
}
.item__stepper {
  .van-stepper__minus {
    width: 50px !important;
    height: 50px !important;
  }
  .van-stepper__input {
    width: 50px !important;
    height: 50px !important;
  }
  .van-stepper__plus {
    width: 50px !important;
    height: 50px !important;
  }
}
.city__list__van__icon {
  .van-field__left-icon .van-icon {
    font-size: 30px !important;
  }
  width: 94vw;
  margin: 20px auto;
}
.index__anchor__Item {
  .van-index-bar__index {
    line-height: 35px !important;
  }
}